*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'poppins',sans-serif;
 font-size: 18px;;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header {
    height: 80px;
    width: 100%;
    background-color: aquamarine;
    border-radius: 3px;
    margin:0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.header .logo{
    font-size: 30px;
    font-weight: bold;
    color: black;
}
.cart {
    display: flex;
    background-color: pink;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 3px;
    width: 80px;
}
.fa-solid {
    color: blue;
}
.cart p {
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    background-color: beige;
    color: black;
}
.container{
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}
#root {
    width:65%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:20px;
}
.sidebar {
    width: 35%;
    border-radius: 5px;
    background-color: aliceblue;
    margin-left: 20px;
    padding: 15px;
    text-align: center;
}
.head {
    background-color: bisque;
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    align-items: center;
}
.foot {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid black;
}